@import url("spinners.css");
@import url("navigation.css");
@import url("movie.css");
@import url("movies.css");



html {
    background-color: #53A2BE;
}

.center {
    border-radius: 5cm;
    display: flex;
    justify-content: center;
    
}

.input {
    width: 150px;
    padding: 5px;

    border-radius: 10px;
    border: 2px;

}
.button {
    border: 2px;
    padding: 5px;
}
.hidden_link:hover {
    cursor: inherit;
}
.picture {
    max-width: 50%;
    height: auto;
}

